#------------------------------------------------------------------------------
# This secret file controls how popular editors will deal with things.
# http://EditorConfig.org
#------------------------------------------------------------------------------
# This means the editor shouldn't search any higher than this directory.
root = true
#------------------------------------------------------------------------------
# Base configuration for all files.
[*]
end_of_line  = lf
charset      = utf-8
indent_style = space
indent_size  = 3
#------------------------------------------------------------------------------
